<style>
    #custom-search-input {
        margin: 0;
        margin-top: 10px;
        padding: 0;
    }
    
    #custom-search-input .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
    
    #custom-search-input button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color: cadetblue;
    }
    
    .search-query:focus+button {
        z-index: 3;
    }
</style>

<div class="container">
    <div class="row" style="margin-top: 100px;" ng-show="searchBox">
        <div class="row">
            <div class="col-xs-12">
                <div style="text-align: center">
                    <img alt="Allscripts" src="../../../assets/img/homePageMainLogo.png" />
                </div>
            </div>
            <div class="col-xs-12" style="margin-top: .6em;">
                <div style="text-align: center">
                    <span style="margin-left: 16em; font-size: 15px; color: #006666; font-style: italic; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Central Search</span>
                </div>
            </div>
        </div>
        <div id="custom-search-input" style="margin-top: 2em;">
            <div class="input-group col-md-12">
                <input ng-model="queryText" style="font-family: 'Segoe UI', sans-serif; height: 45px; font-size: 22px;" type="text" class="search-query form-control" placeholder="Search for..."
                />
                <span class="input-group-btn">
                    <button ng-click="SearchCentral()" class="btn btn-danger" type="button">
                        <span class=" glyphicon glyphicon-search"></span>
                </button>
                </span>
            </div>
        </div>
    </div>
    <div ng-show="searchResult">
        <div include-with-scope="app/pages/search/Widgets/resultLandingPage.html"></div>
    </div>
    <div ng-show="loader">
        <div class="row">
            <div class="col-md-12">
                <img alt="loading..." style="display: block; margin-left: auto; margin-right: auto; margin-top: 100px;" src="../../../assets\img\hourglass.gif"
                />
            </div>
        </div>
    </div>
</div>